@page
@model KimLienAdministrator.Pages.ProductManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
@if(Model.Messages.Count > 0)
{
    foreach(var message in Model.Messages)
    {
        <p class="alert-danger">@message</p>
    }
}
<div class="row">
        <form method="post" enctype="multipart/form-data">     
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
        
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
        <div class="form-group">
            <select asp-for="MainSelectedCategories" class="form-control" multiple="multiple" asp-items="Model.MainCategories"></select>
            <button name="action" value="@Model.ACTION_CATEGORY_SELECT" class="btn btn-secondary">Category Select</button>
        </div>
        <div class="form-check-group">
            @if (Model.SubCategories != null && Model.SubCategories.Count() > 0)
            {
                @foreach (var sub in Model.SubCategories)
                {
                    <label>@sub.Key</label>
                    <select asp-for="SubSelectedCategories" class="form-control" multiple="multiple" asp-items="sub.Value"></select>
                }
            }
        </div>
        <div class="form-group">
            <label asp-for="Files" class="control-label"></label>
            <input id="img-selector" asp-for="Files" class="form-control" />
            <div id="preview"></div>
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

