@page
@model KimLienAdministrator.Pages.ProductManagement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>
<hr />
@if (Model.Messages.Count > 0)
{
    foreach (var message in Model.Messages)
    {
        <p class="alert-danger">@message</p>
    }
}
<div class="row">
    <form method="post" enctype="multipart/form-data">

        <div class="form-group" style="margin-bottom:30px;">
            <label class="name-label" asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group" style="margin-bottom:30px;">
            <label class="name-label" asp-for="Description" class="control-label"></label>
            @*<input asp-for="Description" class="form-control" />*@
            <textarea class="" cols="20" rows="5" asp-for="Description"></textarea>
            </div>
        <div class="form-group" style="margin-bottom:30px;">
            <p class="name-label" style="margin-bottom:-2px">Parent Category</p>
            <select asp-for="MainSelectedCategories" class="form-control" multiple="multiple" asp-items="Model.MainCategories"></select>
            <button name="action" value="@Model.ACTION_CATEGORY_SELECT" class="btn btn-secondary">Category Select</button>
        </div>
        <div class="form-check-group">
            @if (Model.SubCategories != null && Model.SubCategories.Count() > 0)
            {
                @foreach (var sub in Model.SubCategories)
                {
                    <label>@sub.Key</label>
                    <select asp-for="SubSelectedCategories" class="form-control" multiple="multiple" asp-items="sub.Value"></select>
                }
            }
        </div>
        <div class="form-group" style="margin-bottom:25px;">
            <label class="name-label" asp-for="Files" class="control-label"></label>
            <input id="img-selector" asp-for="Files" class="form-control" />
            <div id="preview"></div>
        </div>
        <div class="form-group" style="margin-bottom:15px;">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-page="Index"><h5>Back to List</h5></a>
</div>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.0.20/tinymce.min.js"></script>*@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.3.1/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({ selector: 'textarea',
        max_height: 600,
        max_width: 600,
        min_height: 200,
        min_width: 400,
        content_style: "body {font-size: 15pt;}",
    });
</script>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

