@page
@model KimLienAdministrator.Pages.ProductManagement.UploadPictureModel
@{
}
<img src="https://mega.nz/file/FoRy1DKb#-0lqUemgE4jNrxKsuM3xOBJKmKEixnzyWbz_mo2EDIk"/>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Files" class="control-label"></label>
        <input asp-for="Files" class="form-control" />
        <button>Submit</button>
    </div>
</form>
