@page
@model KimLienCustomerView.Pages.Policy.Pages_Policy_ReturnPolicy
@{
    ViewData["Title"] = "ReturnPolicy";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <p class="fs-4 fw-bolder text-center">
                <span style="color: #e76453">
                    Chính sách đổi trả
                </span>
            </p>
            <p class="fs-5">
                Hỗ trợ đổi trả hàng trong vòng 15 ngày kể từ thời điểm nhận được hàng:
            </p>
            <p class="fs-5 ps-3">
                - Hàng bị lỗi do nhà cung cấp
            </p>
            <p class="fs-5 ps-3">
                - Quá trình vận chuyển
            </p>
            <p class="fs-5 ps-3">
                - Không đúng sản phẩm yêu cầu
            </p>
            <p class="fs-5">
                Không chịu trách nhiệm về hàng hóa trong các trường hợp sau:
            </p>
            <p class="fs-5 ps-3">
                - Hàng hóa bị hỏng hóc do quá trình bảo quản và sử dụng không đúng quy định: Bảo quản không đúng nhiệt độ (> 30 độ C)
            </p>
            <p class="fs-5">
                Hàng hóa bị rơi đồ không nguyên đai nguyên kiện...
            </p>
        </div>
    </div>
</div>
