html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img{
    height: 100px;
    width: 100%;
}
.button-align{
    text-align: right;
    width: 15%;
}
tr.child_row td {
    padding-left: 20px;
}   
.child-row{
    padding-left:10%;
}
.form-group-child{
    padding-left:6.5%;
}
/*table {
    border: none;
    border-collapse: collapse;
}

    table td {
        border-left: 1px ridge #000;
        border-bottom: 1px ridge #000;
    }

        table td:first-child {
            border-left: none;
        }*/
.table-border {
    border-right: 1px ridge #000;
    border-bottom: 1px ridge #000;
}
.category-parent-label{
    font-size:28px;
    margin-right:15px;
}
.name-label{
    font-size:20px;
}
.custom-select{
    position:relative;
    width: 200px;
}