html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img{
    height: 100px;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
}
#body-bg-color {
    background-color: /*#f4e2ab*/ #ABBDF4;
}
#nav-color {
    background-color: #dbf7fa;
}
#nav-hover{
    color:black;
}
#nav-hover:hover {
    color: #00CC99;
    transform: scale(1.1);
}
/*.button-align{
    text-align: right;
    width: 17%;
}*/
.isdelete {
    width: 10%
}
tr.child_row td {
    padding-left: 20px;
}   
.child-row{
    padding-left:10%;
}
.form-group-child{
    padding-left:6.5%;
}
table{
    border-radius:0.5rem;
    overflow:hidden;
}
.btn-edit{
    width:8%;
}
.create-product-description{
    width: 100%;
    height: 80%;
}