html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img{
    height: 100px;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color:white;
}
#body-bg-color {
    background-color: /*#f4e2ab*/ #ABBDF4;
}
#nav-color {
    background-color: #dbf7fa;
}
#nav-hover{
    color:black;
}
#nav-hover:hover {
    color: #00CC99;
    transform: scale(1.1);
}
.isdelete {
    width: 10%
}
tr.child_row td {
    padding-left: 20px;
}   
.child-row{
    padding-left:10%;
}
.form-group-child{
    padding-left:6.5%;
}
.hoverdiv:hover{
    background-color: lightgray;
}
.create-product-description{
    width: 100%;
    height: 80%;
}
.center {
    line-height: 0px;
}

.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    .rotate.down {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.hidden {
    height: 0px;
    opacity: 0;
    transition: height 0ms 400ms;
}

    .hidden.visible {
        height: auto;
        opacity: 1;
        transition: height 0ms 0ms;
    }