html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img{
    height: 100px;
    width: 100%;
}
.button-align{
    text-align: right;
    width: 15%;
}
tr.child_row td {
    padding-left: 20px;
}   
.child-row{
    padding-left:10%;
}
.form-group-child{
    padding-left:6.5%;
}
/*table {
    border: none;
    border-collapse: collapse;
}

    table td {
        border-left: 1px ridge #000;
        border-bottom: 1px ridge #000;
    }

        table td:first-child {
            border-left: none;
        }*/
.table-border {
    border-right: 1px ridge #000;
    border-bottom: 1px ridge #000;
}
.category-parent-label{
    font-size:28px;
    margin-right:15px;
}
.name-label{
    font-size:20px;
}
.custom-select{
    position:relative;
    width: 200px;
}
.product_detail_show_box {
    height: 650px;
    width: 1050px;
    margin-left: 123px;
    background-color: white;
    border: dashed 1px black;
    display: flex;
}

.product_detail_main_image {
    width: 530px;
    height: 420px;
}

.product_detail_sub_gallery {
    width: 500px;
    height: 180px;
    margin-left: 20px;
    margin-top: 50px;
}

.product_detail_sub_image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
    border: 1px solid;
    resize: both;
}

.product_detail_text {
    width: 530px;
    height: 500px;
}

.product_detail_name {
    width: 530px;
    height: 100px;
    text-align: left;
    font-size: 23pt;
    font-weight: bold;
    overflow-wrap: break-word;
}

.product_detail_description {
    width: 530px;
    height: 350px;
    text-align: left;
    font-size: 17pt;
    overflow-wrap: break-word;
}
.product_detail_category{
    overflow:auto;
    height: 150px;
    width: 500px;
}
.create-product-description{
    width: 100%;
    height: 80%;
}