html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.product_detail_show_box {
    height: 650px;
    width: 1050px;
    margin-left: 123px;
    background-color: white;
    border: dashed 1px black;
    display: flex;
}

.product_detail_main_image {
    width: 530px;
    height: 420px;
}

.product_detail_sub_gallery {
    width: 500px;
    height: 180px;
    margin-left: 20px;
    margin-top: 50px;
}

.product_detail_sub_image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
    border: 1px solid;
    resize: both;
}

.product_detail_text {
    width: 530px;
    height: 500px;
}

.product_detail_name {
    width: 530px;
    height: 100px;
    text-align: left;
    font-size: 23pt;
    font-weight: bold;
    overflow-wrap: break-word;
}

.product_detail_description {
    width: 530px;
    height: 350px;
    text-align: left;
    font-size: 17pt;
    overflow-wrap: break-word;
}

.product_show_box {
    padding-left: 100px;
    height: 100%;
    display:flex;
}

.product_card {
    width: 346.5px;
    float: left;
    margin-right: 30px;
    height: 400px;
}

.product_image {
    resize: both;
    width: 346.5px;
    height: 300px;
    padding-right: 10px;
}

.product_name {
    overflow-wrap: break-word;
    width: 346.5px;
    height: 100px;
    max-height: 200px;
    text-align: center;
    padding-right: 10px;
}

.product_row {
    margin: 10px;
    width: 1200px;
    display: block;
    min-height: 475px !important;
    height: 100%;
}

body {
    background-color: rgb(16, 204, 88);
}
.pagination {
    /*display: inline-block;*/
}

    .pagination button {
        color: black;
        float: left;
        padding: 8px 16px;
        transition: background-color .2s;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin: 0 5px;
    }
        .pagination button:hover:not(.active) {
            background-color: #ddd;
        }
.pagination-box {
    width: 70%;
    height: 50px;
    display: block;
}
.product-view {
    width: 1350px;
    overflow: auto;
    display: block;
}
.sub-container {
    height: 45%;
    display: block;
    width: 100%
}
.sub-product-list {
    display: block;
    width: 100%;
    min-height: 475px !important;
    height: 100%;
    display: flex;
}
.product-list {
    width: 1350px;
    overflow: auto;
    min-height: 475px !important;
    height: 100%;
}
.product-list-box {
    padding-left: 100px;
    width: 100%;
    display: block;
    min-height: 475px !important;
    height: 100%;
    display: flex;
}
.pro
