html {
    font-size: 15px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    background: url("https://kimlien1808.blob.core.windows.net/pictures/backround_3.jpeg") center no-repeat fixed;
    background-size: cover;
    backdrop-filter: blur(3.25px);
    //height of the footer box-sizing: border-box;
}

#footer-overrides {
    line-height: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
}

#products-override {
    padding-right: 0px;
    padding-left: 0px;
}
.pagination {
    /*display: inline-block;*/
}

    .pagination button {
        color: black;
        float: left;
        padding: 8px 16px;
        transition: background-color .2s;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid #ddd;
        margin: 0 5px;
    }

        .pagination button:hover:not(.active) {
            background-color: #ddd;
        }

.pagination-box {
    width: 70%;
    height: 50px;
    display: block;
}

.header-logo {
    width: 100%;
    height: 100%;
}

.navbar {
    border: 2px solid #808080;
}
#nav-category:hover{
    background-color: lightcoral;
}
#nav-item {
    color: black;
}
    #nav-item:hover {
        color: #00CC99;
        background-color: whitesmoke;
    }
#nav-refer {
    color: black;
}
    #nav-refer:hover {
        color: #0099CC;
        background-color: whitesmoke;
    }
.dropdown-menu::-webkit-scrollbar{
    display: none
}
.dropdown-menu{
    overflow-y: scroll;
    max-height:200px;
}
.link-dark:hover {
    color: cyan;
}
