@page
@model KimLienCustomerView.Pages.Policies.Pages_Policies_ReturnPolicy
@{
    ViewData["Title"] = "ReturnPolicy";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 bg-white">
            <p class="text-center fs-3 fw-bolder">
                <span style="color:#E76453">
                    Chính Sách Đổi Trả
                </span>
            </p>
            <p class="fs-5">
                Hỗ trợ đổi trả hàng trong vòng 15 ngày kể từ thời điểm nhận được hàng:
            </p>
            <p class="fs-5 ms-4">
                - Hàng bị lỗi do nhà cung cấp - Quá trình vận chuyển, không đúng sản phẩm yêu cầu
            </p>
            <p class="fs-5">
                Không chịu trách nhiệm về hàng hóa trong các trường hợp sau:
            </p>
            <p class="fs-5 ms-4">
                - Hàng hóa bị hỏng hóc do quá trình bảo quản và sử dụng không đúng quy định: Bảo quản không đúng nhiệt độ (>30 độ C)
            </p>
            <p class="fs-5 ms-4">
                - Hàng hóa bị rơi đồ không còn nguyên đai nguyên kiện
            </p>
            <p class="fs-5">

            </p>
            <p class="fs-5">

            </p>
        </div>
    </div>
</div>
