@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="container text-center" method="post">
    <h2 class="text-center">Đăng nhập</h2>
    <div class="m-3">
        <label class="col-1 text-start" asp-for="User.Id">UID</label>
        <input class="col-4" asp-for="User.Id" />
    </div>
    <div class="m-3">
        <label class="col-1 text-start" asp-for="User.Password">Mật khẩu</label>
        <input class="col-4" asp-for="User.Password" />
    </div>
    <div class="m-4 text-center">
        <button class="text-center">Đăng nhập</button>
    </div>
</form>
@if(Model.Message != string.Empty)
{
    <p class="text-danger">@Model.Message</p>
}
